.*/*
!.github/*
!.vscode/settings.json
.idea/*
src/target/*
src/.idea/*
src/src/linker.ld
src/last-*
src/Cargo.lock
src/.gdb_history
user/target/*
user/.idea/*
user/Cargo.lock
easy-fs/Cargo.lock
easy-fs/target/*
easy-fs-fuse/Cargo.lock
easy-fs-fuse/target/*
tools/
pushall.sh
.vscode/*.log
riscv-syscalls-testing
sbi-qemu
kernel-qemu
src/buildfs.sh