.*/*
!.github/*
!.vscode/settings.json
.idea/*
kernel/target/*
kernel/.idea/*
kernel/src/linker.ld
kernel/last-*
kernel/Cargo.lock
kernel/.gdb_history
user/target/*
user/.idea/*
user/Cargo.lock
easy-fs/Cargo.lock
easy-fs/target/*
easy-fs-fuse/Cargo.lock
easy-fs-fuse/target/*
# tools/
pushall.sh
.vscode/*.log
./test
sbi-qemu
kernel-qemu
kernel/buildfs.sh